<nav class="navbar navbar-expand-sm bg-light">
    <div class="container">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let item of country">
                <a id="{{item.name}}Select" class="nav-link text-capitalize" href="#"
                    [routerLink]="['/scorecard', item.id]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: false}">
                    {{ item.name }}
                </a>
            </li>
        </ul>
    </div>
</nav>